<html>
  <head>
    {% include "bootstrap.html" %}
    {% load static %}
  </head>
  <body>
    {% include "navigation.html" %}
    <h1>
    </h1>
    <img src="{%static 'image0.jpeg' %}" width = "300" height = "200" />
    <p>
      I am a Computer Science major with a minor in Mathematics at California State University Chico. I am also a member of the fraternity Delta Chi.
      I play for the Chico State Hockey team as well. I enjoy playing golf and other sports. My favorite activity to do outside is play Beer Dye.
    </p>
    <ol>
      <li>The first step I took was to look at the plan of attack posted at the bottom of the assignment page</li>
      <li>Then I watched the helpful videos that the instructor posted on Black Board</li>
      <li>Next I followed the rubric very closley and used the sudoku board as an example to help me render my dashboard, tasks and budget pages</li>
      <li>Next I looked at examples to help create modal dialogs with the page link:<a href="https://getbootstrap.com/docs/4.0/components/modal/">Modal-Dialogs-Example</a></li>
      <li>Then I looked at examples to help create tables using the link:<a href="https://gionkunz.github.io/chartist-js/">Chartist-Example</a></li>
      <li>I then followed each step carfully for the plan of attack and made sure I met all requirements</li>
      <li>Finally I uploaded the above image and made this about page</li>
  </body>
</html>
