<!DOCTYPE html>
<html land="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>
  <body>
    {% include "bootstrap.html" %}
    {% include "navigation.html" %}
    <h2 class="page_header"> Organizer </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="container-fluid">
          <div class="jumbotron">
            <div align="center">
              <h2>Tasks</h2>
              <div class="ct-chart ct-perfect-fourth" id="chart2"></div>
              <a class="btn btn-primary" href='/tasks/'>Tasks</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="container-fluid">
          <div class="jumbotron">
            <div align="center">
              <h2>Budget</h2>
              <div class="ct-chart ct-perfect-fourth" id=".ct-chart"></div>
              <a class="btn btn-primary" href='/budget/'>Budget</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
    var data = {
      labels: [],
      series: [
      [],
      []
      ]
    };

    var temp_data = []
    {% for items in budgetObjects %}
      temp_data.push({{items.description}})
    {% endfor %}
    data.labels = temp_data

    var projected = []
    {% for items in budgetObjects %}
      projected.push({{items.projected}})
    {% endfor %}
    data.series[0] = projected

    var actual = []
    {% for items in budgetObjects %}
      actual.push({{items.actual}})
    {% endfor %}
    data.series[1] = actual

    var options = {
      seriesBarDistance: 10
    };

    var responsiveOptions = [
    /*['screen and (min-width: 641px) and (max-width: 1024px)', {
      seriesBarDistance: 10,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value;
        }
      }
    }],*/
    ['screen and (max-width: 640px)', {
      seriesBarDistance: 5,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value[0];
        }
      }
    }]
    ];

    new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
    </script>
  </body>
</html>
